
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #785a5a;
    color: #333;
}

header {
    background-color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #222;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 25px;
    font-size: 15px;
}

nav a:hover {
    color: #777;
}

/* Hero */
.hero {
    background-color: #292828;
    color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
    padding: 60px 8%;
}

.hero-text {
    max-width: 650px;
}

.small-title {
    font-size: 13px;
    letter-spacing: 3px;
    color: #aaa;
    margin-bottom: 15px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background-color: white;
    color: #222;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

main {
    padding: 60px 8%;
}

main h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.blog-container {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.blog-card {
    background-color: white;
    width: 32%;
    border: 1px solid #ddd;
}

.image-box {
    height: 180px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 14px;
}

.blog-content {
    padding: 25px;
}

.date {
    font-size: 13px;
    color: #888;
    margin-bottom: 10px;
}

.blog-content h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.blog-content p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 18px;
}

.blog-content a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* About */
.about {
    background-color: white;
    text-align: center;
    padding: 60px 20%;
    border-top: 1px solid #ddd;
}

.about h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.about p {
    color: #666;
    line-height: 1.7;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}

@media (max-width: 768px) {

    header {
        padding: 0 5%;
    }

    nav a {
        margin-left: 10px;
        font-size: 13px;
    }

    .hero {
        padding: 50px 5%;
    }

    .hero h1 {
        font-size: 38px;
    }

    main {
        padding: 50px 5%;
    }

    .blog-container {
        flex-direction: column;
    }

    .blog-card {
        width: 100%;
    }

    .about {
        padding: 50px 10%;
    }
}
